@import "reset.css";

/* Fix paths to fonts */
@font-face {
  font-family: "Gotham";
  font-weight: 900;
  src: url("../fonts/GothamPro-Black.woff2") format("woff2"),
    url("../fonts/GothamPro-Black.woff") format("woff");
}

@font-face {
  font-family: "Gotham";
  font-weight: 500;
  src: url("../fonts/GothamPro-Medium.woff2") format("woff2"),
    url("../fonts/GothamPro-Medium.woff") format("woff");
}

@font-face {
  font-family: "Gotham";
  font-weight: bold;
  src: url("../fonts/GothamPro-Bold.woff2") format("woff2"),
    url("../fonts/GothamPro-Bold.woff") format("woff");
}

/* Refactor and optimise code */
html {
	font-family: Gotham, serif;
	min-height: 100%;
	background: #ed4159 url(../images/background.jpg) center center/cover no-repeat;
}

/* for retina displays */
@media only screen and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
	html {
		background-image: url(../images/background@2x.jpg);
	}
}

.container {
	overflow: hidden;
	padding: 0 16px 16px 16px;
	max-width: 600px;
	margin: 0 auto;
}

/* separation styles of wrapped blocks according to BEM */
.logo {
	margin-top: 43px;
}

.logo-image {
	display: block;
	width: 182px;
	height: 40px;
	margin: 0 auto;
}

.login-card,
.user-card {
	margin-top: 37px;
}

.login-form,
.user-profile {
	border-radius: 8px;
	box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.15);
	background-color: white;
	padding: 32px 24px;
	box-sizing: border-box;
}

@media screen and (min-width: 768px) {
	.logo {
		margin-top: 142px;
	}

	.logo-image {
		width: 315px;
		height: 69px;
	}
}

.login-form__title {
	opacity: 0.8;
	font-size: 20px;
	line-height: 1.2;
	text-align: center;
	color: #262626;
}

.login-form__text-input_email {
	margin-top: 32px;
	width: 100%;
}

.login-form__text-input_password {
	margin-top: 24px;
	width: 100%;
}

.error {
	border-radius: 4px;
	background-color: rgba(237, 65, 89, 0.25);
	font-size: 12px;
	font-weight: 500;
	color: #ed4159;
	padding: 14px;
}

.login-form__error {
	margin-top: 24px;
}

.login-form__submit {
	width: max-content;
	min-width: 145px;
	margin: 40px auto 24px auto;
}

@media screen and (min-width: 768px) {
	.login-form__title {
		font-size: 24px;
	}

	.login-form__text-input_email {
		margin-top: 48px;
	}

	.login-form__text-input_password {
		margin-top: 32px;
	}

	.login-form__error {
		margin-top: 32px;
	}

	.error {
		font-size: 14px;
		padding: 14px 16px;
	}

	.login-form__submit {
		margin-top: 60px;
		margin-bottom: 12px;
	}
}

.user-profile {
	text-align: center;
}

.user-profile__avatar {
	width: 86px;
	height: 86px;
	border-radius: 50%;
	display: block;
	margin: 0 auto;
}

.user-profile__name {
	opacity: 0.8;
	font-size: 18px;
	text-align: center;
	color: #262626;
	display: block;
	margin-top: 24px;
}

.user-profile__logout {
	min-width: 145px;
	margin: 40px auto 24px;
}

@media screen and (min-width: 768px) {
  .user-profile__avatar {
    width: 128px;
    height: 128px;
  }

  .user-profile__name {
    font-size: 28px;
    margin-top: 40px;
  }

  .user-profile__logout {
    margin-top: 56px;
  }
}

.login-form__text-input {
  display: block;
  border-radius: 4px;
  background-color: #f1f1f1;
  border: solid 1px transparent;
  padding: 14px 16px;
  font-family: Gotham, sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: rgba(38, 38, 38, 0.8);
  outline: none;
  -webkit-appearance: none;
  box-sizing: border-box;
}

.login-form__text-input::placeholder {
  color: rgba(38, 38, 38, 0.4);
}

.login-form__text-input:focus {
  border-color: rgba(151, 151, 151, 0.25);
}

.login-form__text-input_invalid,
.login-form__text-input_invalid:focus {
  color: #ed4159;
  border-color: #ed4159;
}


.login-form__text-input_invalid::placeholder {
  color: rgba(237, 65, 89, 0.8);
}

.button {
  box-sizing: border-box;
  display: block;
  outline: none;
  border: 0;
  padding: 16px 32px;
  height: 48px;
  border-radius: 100px;
  box-shadow: 0 4px 16px 0 rgba(237, 65, 89, 0.4);
  background-color: #ed4159;
  text-align: center;
  -webkit-appearance: none;
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
  cursor: pointer;
}

.button:hover,
.button:focus {
  box-shadow: 0 6px 20px 0 rgba(237, 65, 89, 0.4);
  background-color: #ffffff;
  color: #ed4159;
}

.button:active {
  box-shadow: 0 2px 10px 0 rgba(237, 65, 89, 0.5);
  background-color: #ffffff;
  color: #ed4159;
}

.link-button {
	display: inline-block;
}